.container {
  margin: 0;
  padding: 0;
}
.container h2{
  color: #0f2a5d;
}
.weatherIcon{
  width: 60px;
    height: 60px;
}    
.weatherCardsContainer{
  display: flex;
  flex-direction: row;
}
.weatherCard{
  margin:0 30px;
}